# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env
.venv

# Node
node_modules/

# Editors
.vscode/
.idea/

# Logs
*.log

# Build
dist/
build/

# Secrets
.env.local
.env.*.local
